name: Build and Release

on:
  push:
    tags:
      - 'v*'  # Запускается при создании тега, начинающегося с 'v'

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pyinstaller
        
    - name: Build application
      run: |
        pyinstaller ChatList.spec --clean
        
    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        files: |
          dist/ChatList-*.exe
          installer/ChatList-Setup-*.exe
        draft: false
        prerelease: false
        generate_release_notes: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
